# Robot
roboUsername=
roboPassword=
HELLO_FLEET_ID=
OPENAI_API_KEY=

# Release
release=main

# Firebase
apiKey=
authDomain=
projectId=
storageBucket=
messagingSenderId=
appId=
measurementId=
databaseURL=

# SSL
certfile=
keyfile=