/* START Battery */
.footer-row .battery-container .battery {
    display: inline-block;
    width: 32px;
    height: 18px;
    filter: brightness(1);
    transition: filter 200ms ease-out;
}

/* END Battery */

/* START RunStop Button */
.footer-row .run-stop-container {
    justify-content: flex-end;
    display: flex;
}

.footer-row .run-stop-container .run-stop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.footer-row .run-stop-container .run-stop-button .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: brightness(1);
    transition: filter 200ms ease-out;
}

/* END RunStop Button */

/* START Scene Menu Button */
.footer-row .scene-menu-button-container {
    width: 50%;
}

.footer-row .scene-menu-button-container .scene-menu-button {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    background-color: hsl(204 90% 5% / 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    transition: background-color 150ms ease-out;
}

.footer-row .scene-menu-button-container .scene-menu-button:active {
    background-color: hsl(204 100% 50% / 1);
}

.footer-row .scene-menu-button-container .scene-menu-button .fancy-border {
    position: absolute;
    bottom: 0px;
    left: -4px;
    width: calc(100% + 8px);
    height: 62px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    z-index: 0;
    background: transparent;
    border: 1px solid hsl(204 100% 50% / 1);
    border-bottom: 0px;
    filter: saturate(0.2) opacity(0.2);
    transition: filter 150ms 100ms ease-out;
}

.footer-row
    .scene-menu-button-container
    .scene-menu-button:active
    .fancy-border {
    filter: saturate(1) opacity(1);
}

/* END Scene Menu Button */
