.gripper-cam-pip-wrapper {
    position: absolute;
    left: 50%;
    margin: 10px 0 0;
    width: max-content;

    /******************************************************
    * Rules used to calculate GripperPIP position:        *
    *                                                    *
    * > Assumes main <video> area has 9:16 aspect-ratio. *
    * > 131px is the fixed height of the footer *        *
    ******************************************************/
    height: calc((9 * (100vh - 131px)) / 16);
    overflow: hidden;
    border-radius: 20px;
    translate: -50% 0;
}

.gripper-cam-pip-wrapper .simple-video-container {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background: transparent;
}

.gripper-cam-pip-wrapper .simple-video-container .simple-video-area {
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 20px;
    right: 24px;
    /* Takes up 35% of the main video area */
    width: 35%;
    height: 35%;
    border-radius: 21px;
    overflow: hidden;
    outline: 3px solid hsla(0, 0%, 100%, 0.05);
    box-shadow: 0px 2px 13px 0px hsla(0, 0%, 0%, 0.6);
}

.gripper-cam-pip-wrapper
    .simple-video-container
    .simple-video-area
    video.simple-video-canvas {
    margin-top: 0px !important;
    width: 100%;
    height: 100%;
    scale: 1.4;
    aspect-ratio: 1 /1;
}
