[Unit]
Description=Stretch Web Teleop Onboard Firebase Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=hello-robot
WorkingDirectory=/home/hello-robot/ament_ws/src/stretch4_web_teleop
ExecStart=/usr/bin/node /home/hello-robot/ament_ws/src/stretch4_web_teleop/scripts/stretch_firebase_daemon.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
